贪吃蛇大作战项目游戏策划说明书
作者：182054109刘飞182054103苏建帆182054104马启星
文档变更记录
日期	版本号	修订内容	修订	审核
2019-10-09	V1.0	填写本次修订内容	作者	项目组长
1.	引言
1.1 编写目的 
本说明书在概要设计的基础上，对贪吃蛇游戏的各模块、程序、子系统分别进行了 实现层面上的要求和说明。软件开发小组的产品实现人员阅读和参考本说明进行代码的编写和测试。 
1.2预期读者
本说明书预期的读者是软件开发小组的产品实现人员。
1.3参考资料
张海藩：《软件工程导论》第五版 清华大学出版社 
肖刚等：《实用软件文档写作》 清华大学出版社
2.	项目概述
系统名称：贪吃蛇游戏 
任务提出者：541第二组 
开发者：541第二组 
用户：541第二组 
运行该程序的系统： win10
3.1游戏基本描述
3.1.1游戏名称
《贪吃蛇大作战》
3.1.2游戏主题
益智
3.1.3游戏类型
休闲竞技
3.1.4游戏风格
像素风格
3.1.5游戏运行环境
Win10 
3.2 游戏世界设定
3.2.1游戏背景故事
《贪吃蛇大作战》的世界中，每个人在初始都化身为一条小蛇，通过不断努力变得越来越长，最终制霸一方。不仅比拼手速，更考验策略。
3.2.2游戏角色定义
为游戏角色定义一个初始长度
3.2.3游戏过程描述
通过不断吃一些随机出现的方块增加长度。
3.2.4游戏控制描述
通过键盘WSAD控制上下左右
3.2.5游戏关卡设定
无尽关卡直到撞墙或者达到一定长度结束。
3.3 游戏素材描述
3.3.1游戏界面
 
3.3.2游戏动画
初始角色通过吃方块增加长度
3.3.3游戏音效
《好运来》
3.	项目进度安排
4.1 Demo版本发布时间  10.3
4.2 Alpha版本发布时间  10.3
4.3 Beta版本发布时间   10.3
4.4 正式版本发布时间  未知
